.ContactMePage {
  height: 1200px;
  font-family: "Rokkitt";
}

.contactme-header-images {
  height: 300px;
  width: 100%;
  background-color: #a8b89f;
}

.contactme-container {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactme-title {
  margin: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 600px;
  text-align: left;
}

label {
  margin: 5px 0px;
}

input {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Rokkitt";
}

.input {
  height: 50px;
}

.contactme-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
}

.contactme-submit {
  height: 50px;
  width: 175px;
  font-family: "Rokkitt";
  font-size: 16px;
  background-color: #a8b89f;
  border: 1px solid #a8b89f;
  color: white;
  font-weight: bold;
  align-self: center;
  margin: 25px;
}

.contactme-submit:hover {
  background-color: #94a48b;
  font-size: 18px;
}
