.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 500px;
  background-image: url("../../images/honey-ears-cropped-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link {
  color: white;
  text-decoration: none;
  margin: 75px 25px;
  font-size: 16px;
  font-family: "Rokkitt";
  font-weight: bold;
}

.logo-img {
  height: 50px;
  margin: 27.5px 10px 0px 10px;
}

.link:hover {
  font-size: 18px;
  text-decoration: underline;
}

/* mobile media query */
@media screen and (max-width: 480px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 600px;
    background-image: url("../../images/mobile-header.jpg");
  }

  .link {
    color: white;
    text-decoration: none;
    margin: 2.5px 50px 2.5px 0px;
    font-size: 14px;
    font-family: "Rokkitt";
    font-weight: bold;
  }

  .top-link {
    margin-top: 25px;
  }

  .logo-img {
    display: none;
  }
}
