.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 500px;
  background-image: url("../../images/header-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link {
  color: white;
  text-decoration: none;
  margin: 75px 25px;
  font-size: 16px;
  font-family: "Rokkitt";
  font-weight: bold;
}

.logo-img {
  height: 50px;
  margin: 27.5px 10px 0px 10px;
}

.link:hover {
  font-size: 18px;
  text-decoration: underline;
}
