@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@200&family=Shadows+Into+Light&display=swap");
.HomePageContainer {
  display: flex;
  flex-direction: column;
  height: auto;
}

.HeaderContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.HeaderContainer > h1 {
  margin: 50px 0px 0px 0px;
  color: rgb(86, 95, 104);
  font-size: 34px;
  font-family: "Shadows Into Light";
}

.HeaderContainer > h2 {
  width: 80%;
  margin-bottom: 20px;
  color: rgb(86, 95, 104);
  font-size: 22px;
  line-height: 1.3;
  font-family: "Rokkitt";
}

.line {
  margin-top: 50px;
}

.line-decoration {
  width: 50%;
  height: 1px;
  background-color: black;
  margin-top: 35px;
}

.IntroductionContainer {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(86, 95, 104);
}

.Introduction-Inner {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.Introduction-Inner > h3 {
  width: 80%;
  font-size: 32px;
  font-family: "Shadows Into Light";
  margin-bottom: 15px;
}

.introduction-paragraph {
  width: 80%;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Rokkitt";
  font-weight: bold;
}

.introduction-image {
  height: 600px;
}

.ServicesIntroductionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  width: 100%;
  margin-top: 0px;
}

.homepage-images-container {
  width: 100%;
  height: 400px;
}

.homepage-images {
  height: 400px;
  margin: 0px 25px;
}

.decoration {
  align-self: center;
  width: 50%;
  height: 1px;
  background-color: black;
  margin: 25px 0px;
}

.homepage-services-description {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Rokkitt";
  font-weight: bold;
}

.or {
  text-decoration: underline;
}

.link-to-pages {
  text-decoration: none;
  color: rgb(86, 95, 104);
}

.link-to-pages:hover {
  color: #a8b89f;
}
